<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css"> <!-- we are in the public folder here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Choose template</title>
</head>
<body>
    <img src="mylogo.svg" width="250" height="250" class="mylogo">
    <img src="choosetemplate.svg" class="illustration" width="700" height="700">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Step2: <span style="color: #f9a01b;"><b>Select a Template</b></span></h2>
    
    <a href="/convertBlank" style="margin-top: 30px; " class="orangebutton">
   Create a blank document
    </a>
    <br>
    <a href="/convertBlank" style="margin-top: 30px;" class="orangebutton">
        Create a diary
    </a>
    <br>
    <a href="/convertBlank" class="orangebutton" style="margin-top: 30px;">
        Create a to-do list
    </a>

    
</body>
</html>